*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3974a;
  padding: 20px 10%;
  color: white;
  position: sticky;
  font-size: 20px;
  top: 0%;
}
.nav-links {
  list-style-type: none;
  display: flex;
  position: sticky; top: 0;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: white;
  transition: 0s.3s;
  text-decoration: none;
  font-size: 18px;
  gap: 50px;

}
#home {
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/image.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
#home h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
#home p {
  font-size: 24px;
  margin-bottom: 30px;
}
#home button {
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
#home button:hover {
  background-color: #f7bd7f;
 } 


  /* properties */
  #properties {
    padding: 60px 10%;
    background-color:#f5f5f5;
    text-align: center;
  }
#properties h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}
.property-list  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.property-item {
   background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}
.property-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.property-item h3 {
  font-size: 24px;
  margin: 15px;
  color: #333;
}
.property-item p {
  font-size: 16px;
  margin: 0 15px 15px;
  color: #777;
}

/*  */
/* About Section */
/*  */

#about {
  padding: 60px 10%;
  background-color: #eaf1f8;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  min-width: 300px;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.about-content {
  flex: 1;
  min-width: 300px;

}

.about-content h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 17px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 15px;

}

.about-content ul {
  list-style: none;
  margin: 25px 0;
  padding: 0;
}

.about-content ul li {
    font-size: 17px;
    color: #444;
    margin-bottom: 12px;
}

.about-content button {
    padding: 12px 28px;
    background-color: #b8860b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.about-content button:hover {
    background-color: #8b6508;
    transform: translateY(-3px);
}

/* Responsive Design */

@media (max-width: 768px) {

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-content h2 {
        font-size: 30px;
    }

    .about-content p,
    .about-content ul li {
        font-size: 16px;
    }
}

/* Services Section */

#services {
  padding: 60px 10%;
  background-color: white;
  text-align: center;
  
}

.services-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 30px;
}
.service-item {
  background-color:rgb(253, 243, 234) ;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
}
.service-icon {
  font-size: 48px;
  margin-bottom: 15px;
}
.service-item h3{
  color: #ff7b00;
}

.service-item p {
  color: #555;
  margin-top: 15px;
  line-height: 1.6;
}